@model IEnumerable<WebMigradorCtasPorCobrar.Models.Entities.Migracion.Observacion>

<div class="modal-header">
    <h5 class="modal-title">
        Observaciones: <span id="error_descrip" class="d-inline-block text-truncate1" style="font-size:1rem; vertical-align: text-bottom;"></span>
    </h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="row" id="div_msg">
        <div class="col-12" id="tabla-errores">
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th>Tipo</th>
                        <th>Descripción</th>
                        <th>Fec. Registro</th>
                        <th>Estado</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr style="font-size:13px;">
                            <td style="min-width:100px">@item.T_ObservCod</td>
                            <td style="width:450px">@item.T_ObservDesc</td>
                            <td style="width:180px">@item.D_FecRegistro</td>
                            <td style="width:90px">
                                @if (item.B_Resuelto)
                                {
                                    <span class="badge badge-pill badge-success"><i class="fa fa-check-circle"></i> Corregido</span>
                                }
                                else
                                {
                                    <span class="badge badge-pill badge-warning"><i class="fa fa-exclamation-circle"></i> Pendiente</span>
                                }
                            </td>
                            <td style="width:120px" class="text-right">
                                @if (!item.B_Resuelto)
                                {
                                    <a class="link-editar" href="javascript:;" data-url="@Url.Action("Editar",ViewBag.Controller, new { id = item.I_FilaTablaID, obsID = item.I_ObservID })"><i class="fa fa-pencil-square-o"></i> Corregir</a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-12" id="edit-target" style="display:none;">
        </div>
    </div>
    <div id="processing" class="container-fluid" style="display:none;">
        <p style="margin:50px;" class="text-center text-muted"><i class="fa fa-spin fa-3x fa-cog"></i></p>
    </div>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
</div>

<script>
    $('.link-editar').on('click', function () {
        debugger;
        $.ajax({
            url: $(this).data('url'),
            type: 'GET',
            cache: false,
            beforeSend: function () {
                $('#processing').show();
                $('#tabla-errores').hide()
            },
            success: function (data) {
                $('#edit-target').html(data);
                $('#edit-target').show()
            },
            error: function () {
                $('#tabla-errores').show()
            },
            complete: function () {
                $('#processing').hide();
            }

        })
    })
</script>