@model WebMigradorCtasPorCobrar.Models.Helpers.Response


<div class="card-body">
    <h5 class="card-title">Resultado:</h5>
    <p class="card-text alert alert-@Model.Color">@Html.Raw(Model.Message)</p>
</div>