@model IEnumerable<WebMigradorCtasPorCobrar.Models.Entities.Obligacion>
@using GridMvc.Html

<div class="table-responsive" style="min-height:300px">
    @Html.Grid(Model).Columns(columns =>
        {
            columns.Add(c => c.Ano).Titled("Año").Filterable(true);
            columns.Add(c => c.P).Titled("P").Filterable(true);
            columns.Add(c => c.Cod_alu).Titled("Cod Alumno").Filterable(true);
            columns.Add(c => c.Cod_RC).Titled("Cod RC").Filterable(true);
            columns.Add(c => c.Cuota_pago).Titled("Cuota Pago").Filterable(true);
            columns.Add(c => c.Tipo_oblig).Titled("Obligacion").Filterable(true);
            columns.Add(c => c.Fch_venc).Titled("Fec. Venc").Filterable(true);
            columns.Add(c => c.Pagado).Titled("Pagado").Filterable(true);
        }
    ).WithPaging(30).Sortable(true).WithGridItemsCount("Registros encontrados").EmptyText("No se encontraron registros")
</div>


