
@model IEnumerable<WebMigradorCtasPorCobrar.Models.Entities.CuotaPagoTP>
@using GridMvc.Html


<div class="table-responsive" style="min-height:300px">
    @Html.Grid(Model).Columns(columns =>
        {
            columns.Add(c => c.Cuota_pago).Titled("Codigo").Filterable(true);
            columns.Add(c => c.Descripcio).Titled("Descripción").Filterable(true);
            columns.Add(c => c.N_cta_cte).Titled("Nro. Cuenta").Filterable(true);
            columns.Add(c => c.Eliminado).Titled("Eliminado").Filterable(true);
            columns.Add(c => c.Codigo_bnc).Titled("Codigo BNC").Filterable(true);
            columns.Add(c => c.Fch_venc).Titled("Fec. Venc").Filterable(true);
            columns.Add(c => c.Prioridad).Titled("Prioridad").Filterable(true);
            columns.Add(c => c.C_mora).Titled("Mora").Filterable(true);
        }
    ).WithPaging(30).Sortable(true).WithGridItemsCount("Registros encontrados").EmptyText("No se encontraron registros")
</div>
