@{ 
    string Hdn_procedencia = ViewBag.Procedencia;
    string Rango_hasta_2009 = ViewBag.Rango_Hasta_2009;
    string Rango_2010_2015 = ViewBag.Rango_2010_2015;
    string Rango_2016_2020 = ViewBag.Rango_2016_2020;
}

<div class="col-12">
    <form class="form-inline">
        <div class="form-group my-3 col-6 ">
            @Html.Hidden("hdn_procedencia", @Hdn_procedencia)
            <label for="cbo-periodo" class=" col col-form-label">SELECCIONAR AñO</label>
            @Html.DropDownList("cboPeriodo", ViewBag.Anios as SelectList, "TODOS", new { @class = "form-control" })
        </div>
        <div class="form-group my-3 col-6">
            <button type="button" id="btn-validate-per" class="btn btn-primary">Validar registros</button>
        </div>
    </form>
    <div id="processing" class="container-fluid py-4" style="display:none;">
        <div class="d-flex justify-content-center">
            <div class="spinner-border text-info" role="status" style="width: 5rem; height: 5rem;">
                <span class="sr-only" id="sr-message"></span>
            </div>
            <div class="d-flex justify-content-center">
                <span id="load-message" class="h5 mt-4"></span>
            </div>
        </div>
    </div>
    <div id="result-message" class="container-fluid">
        <div class="card-body">
            <h5 class="card-title">Seleccione una opción del proceso</h5>
        </div>
    </div>

</div>

<script>
    buttonState();

    $('#cbo-periodo').on('change', function () {
        buttonState();
    })

    function buttonState() {
        let periodo = $('#cbo-periodo').val();
        if (periodo == '') {
            $('#btn-validate-per').attr('disabled', true);
        }
        else {
            $('#btn-validate-per').removeAttr('disabled');
        }

    }

    $('#btn-validate-per').on('click', function () {
        let periodo = $('#cbo-periodo').val();
        Swal.fire({
            title: 'Validar Obligaciones y pagos del sitstema temporal de pagos',
            text: 'Al aceptar se procederá con la validación de consistencia de las obligaciones y pagos ' +
                'del sistema temporal de pagos con la base de datos de recaudacion de ingresos.',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#ff830f',
            cancelButtonColor: '#3c3c3c',
            cancelButtonText: 'Cancelar',
            confirmButtonText: 'Iniciar validación'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: '@Url.Action("ValidarRegistros", "Obligaciones", new { area = "" })' + '?procedencia=' + '@Hdn_procedencia' + '&' + 'periodo=' + periodo,
                    type: 'POST',
                    cache: false,
                    beforeSend: function () {
                        $('#processing').show();
                        $('#result-message').hide();
                    },
                    success: function (data) {
                        $('#result-message').html(data);
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        $('#alert-message p.alert').html(jqXHR.responseText)
                        $('#result-message').show();
                    },
                    complete: function () {
                        $('#processing').hide();
                        $('#result-message').show();
                    }
                })
            }
        })
    })

</script>