
@model IEnumerable<WebMigradorCtasPorCobrar.Models.Entities.CtasPorCobrar.TI_ConceptoPago>
@using GridMvc.Html


<div class="table-responsive" style="min-height:300px; font-size: 13px;">
    @Html.Grid(Model).Columns(columns =>
    {
        columns.Add(c => c.T_TablaNom).Css("text-center").Titled("Tabla origen").Filterable(true);
        columns.Add(c => c.I_ConcPagID).Css("text-truncate").Titled("Código").Filterable(true);
        columns.Add(c => c.T_ConceptoPagoDesc).Css("text-truncate").Titled("Concepto de pago").Filterable(true);
        columns.Add(c => c.T_ProcesoDesc).Titled("Nom. proceso").Filterable(true);
        columns.Add(c => c.I_Anio).Titled("Año").Filterable(true);
        columns.Add(c => c.T_PeriodoDesc).Css("text-center").Titled("Periodo").Filterable(true);
        columns.Add(c => c.M_Monto).Css("text-center").Titled("Monto").Filterable(true);
        //columns.Add(c => c.N_CodBanco).Css("text-center").Titled("Cod. BNC").Filterable(true);
        columns.Add(c => c.B_Migrado).Css("text-center").Encoded(false).Sanitized(false).Titled("Migrado").Filterable(true)
                .RenderValueAs(model => model.B_Migrado ? Html.Raw("<span class=\"h5\"><i class=\"fa fa-check-circle text-success\"></i></span>")
                                                        : Html.Raw("<span class=\"h5\"><i class=\"fa fa-exclamation-triangle text-warning\"></i></span>"));
        columns.Add().SetWidth(120).Css("text-right").Encoded(false).Sanitized(false)
                     .RenderValueAs(model => @Html.Raw($"<a href=\"{ Url.Action("VerDetalleMigracion", "ConceptoPago", new { id = model.I_MigracionRowID, cp = model.I_ConcPagID, area = "" })}\" class=\"modal-link-lg\">" +
                                                       $"  <i class=\"fa fa-search-plus\" aria-hidden=\"true\">&nbsp;</i><span class=\"d-none d-md-inline-block\">Ver Registro</span>" +
                                                       $"</a>"));
        }
    ).WithPaging(20).Sortable(true).WithGridItemsCount("Registros encontrados").EmptyText("No se encontraron registros")
</div>


<script>
    $('#btn-tp').removeClass('active');
    $('#btn-cpp').addClass('active');
    $('#btn-mg').removeClass('active');
    $('#btn-proc').removeClass('active');

</script>
