@model IEnumerable<WebMigradorCtasPorCobrar.Models.Entities.UnfvRepositorio.Persona>

<div class="table-responsive" style="min-height:300px; font-size: 13px;">
    <table id="tbl_personas" class="table table-sm table-hover" style="font-size:12px;">
        <thead class="thead-light">
            <tr>
                <th>Num. DNI</th>
                <th>Apellido paterno</th>
                <th>Apellido nombre</th>
                <th>Nombres</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.C_NumDNI</td>
                    <td>@item.T_ApePaterno</td>
                    <td>@item.T_ApeMaterno</td>
                    <td>@item.T_Nombre</td>
                    <td></td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function () {
        $('#tbl_personas').DataTable({
            searching: true,
            pageLength: 20,
            lengthChange: false,
            language: {
                emptyTable: "No se encontraron registros",
                info: "Mostrando _START_ - _END_ de _TOTAL_",
                infoEmpty: "Mostrando 0 - 0 de 0 ",
                infoFiltered: "(Filtrado de _MAX_ registros)",
                lengthMenu: "Mostrar _MENU_ registros",
                loadingRecords: "Cargando...",
                processing: "",
                search: "Buscar:",
                zeroRecords: "No se encontró ningun registro",
                paginate: {
                    first: "Primero",
                    last: "Último",
                    next: "Siguiente",
                    previous: "Anterior"
                }
            }
        });
    });

</script>
