<h2>Proceso de migración</h2>
<div class="row my-2">
    <div class="col-md-4 py-1"><button class="btn btn-warning btn-block">1. Copiar datos desde Temporal de pagos</button></div>
    <div class="col-md-4 py-1"><button class="btn btn-info btn-block">2. Validar consistencia de datos</button></div>
    <div class="col-md-4 py-1"><button class="btn btn-primary btn-block">3. Migrar a Recaudacion de ingresos</button></div>
</div>