@{
    var procedencia = ViewBag.Procedencia;
    var boundary = ViewBag.Boundary;
}

<h2>Proceso de migración (@boundary)</h2>
<div class="row my-2">
    <div class="col-md-4 py-1"><button id="btn-copy" class="btn btn-warning btn-block">1. Copiar datos desde Temporal de pagos</button></div>
    <div class="col-md-4 py-1"><button id="btn-validate" class="btn btn-info btn-block">2. Validar consistencia de datos</button></div>
    <div class="col-md-4 py-1"><button id="btn-migrate" class="btn btn-primary btn-block">3. Migrar a Recaudacion de ingresos</button></div>
</div>

<div class="col-md-12 my-4">
    <div class="row jumbotron" style="min-height: 450px">
        <div class="card text-center w-100">
            <div id="processing" class="container-fluid py-4" style="display:none;">
                <div class="d-flex justify-content-center">
                    <div class="spinner-border text-info" role="status" style="width: 5rem; height: 5rem;">
                        <span class="sr-only" id="sr-message"></span>
                    </div>
                    <div class="d-flex justify-content-center">
                        <span id="load-message" class="h5 mt-4"></span>
                    </div>
                </div>
            </div>
            <div id="result-message" class="container-fluid">
                <div class="card-body">
                    <h5 class="card-title">Seleccione una opción del proceso</h5>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $('#btn-tp').removeClass('active');
    $('#btn-mg').removeClass('active');
    $('#btn-proc').addClass('active');

    $('#btn-copy').on('click', function () {
        Swal.fire({
            title: 'Copiar Cuotas de pago desde el temporal de pagos (' + '@boundary' + ')',
            text: 'Al copiar datos desde el temporal de pagos se perderá cualquier validacion y cambio que no hayan sido migrados',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#ff830f',
            cancelButtonColor: '#3c3c3c',
            cancelButtonText: 'Cancelar',
            confirmButtonText: 'Sí, copiar datos.'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: '@Url.Action("CopiarRegistros", "CuotaPago", new { area = "" })' + '?procedencia=' + '@procedencia',
                    type: 'POST',
                    cache: false,
                    beforeSend: function () {
                        $('#processing').show();
                        $('#result-message').hide();
                    },
                    success: function (data) {
                        $('#result-message').html(data);
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        $('#alert-message p.alert').html(jqXHR.responseText)
                        $('#result-message').show();
                    },
                    complete: function () {
                        $('#processing').hide();
                        $('#result-message').show();
                    }
                })
            }
        });
    });


    $('#btn-validate').on('click', function () {
        Swal.fire({
            title: 'Validar Cuotas de pago del temporal de pagos (' + '@boundary' + ')',
            text: 'Al aceptar se procederá con la validación de consistencia de las cuotas de pago ' +
                  'del sistema temporal de pagos con la base de datos de recaudacion de ingresos.',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#ff830f',
            cancelButtonColor: '#3c3c3c',
            cancelButtonText: 'Cancelar',
            confirmButtonText: 'Iniciar validación'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: '@Url.Action("ValidarRegistros", "CuotaPago", new { area = "" })' + '?procedencia=' + '@procedencia',
                    type: 'POST',
                    cache: false,
                    beforeSend: function () {
                        $('#processing').show();
                        $('#result-message').hide();
                    },
                    success: function (data) {
                        $('#result-message').html(data);
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        $('#alert-message p.alert').html(jqXHR.responseText)
                        $('#result-message').show();
                    },
                    complete: function () {
                        $('#processing').hide();
                        $('#result-message').show();
                    }
                })
            }
        })
    })

    $('#btn-migrate').on('click', function () {
        Swal.fire({
            title: 'Migrar Cuotas de pago desde el temporal de pagos (' + '@boundary' + ')',
            text: 'Al aceptar los registros con correctamente validados serán copiados a la base de Recaudación de ingresos.',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#ff830f',
            cancelButtonColor: '#3c3c3c',
            cancelButtonText: 'Cancelar',
            confirmButtonText: 'Sí, migrar datos.'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: '@Url.Action("MigrarDatosTemporalPagos", "CuotaPago", new { area = "" })' + '?procedencia=' + '@procedencia',
                    type: 'POST',
                    cache: false,
                    beforeSend: function () {
                        $('#processing').show();
                        $('#result-message').hide();
                    },
                    success: function (data) {
                        $('#result-message').html(data);
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        $('#alert-message p.alert').html(jqXHR.responseText)
                        $('#result-message').show();
                    },
                    complete: function () {
                        $('#processing').hide();
                        $('#result-message').show();
                    }
                })
            }
        });
   })
</script>
