@{
    ViewBag.Title = "CUOTAS DE PAGO";

    string action = ViewBag.Action;
    string controller = ViewBag.Controller;
    var procedencia_value = WebMigradorCtasPorCobrar.Models.Helpers.Procedencia.Posgrado;
}

<div class="py-3">
    <h1>Posgrado <small>CUOTAS DE PAGO</small></h1>
</div>
<div class="row">
    <div class="col-md-2">
        <fieldset>
            <legend class="pb-3 font-weight-bold">OPCIONES</legend>
            <a class="btn btn-outline-dark btn-block my-3" id="btn-tp" href="@Url.Action("Posgrado", "CuotaPago", new { partial = "TemporalPagos" })">Temporal de pagos</a>
            <a class="btn btn-outline-dark btn-block my-3" id="btn-proc" href="@Url.Action("Posgrado", "CuotaPago", new { partial = "ProcesoMigracion" })">Proceso de migración</a>
            <a class="btn btn-outline-dark btn-block my-3" id="btn-mg" href="@Url.Action("Posgrado", "CuotaPago", new { partial = "DatosMigracion" })">Registros para migración</a>
        </fieldset>
    </div>
    <div class="col-md-10">
        @if (string.IsNullOrEmpty(action))
        {
            <div class="jumbotron" style="min-height: 450px">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">Seleccione una opción</h5>
                    </div>
                </div>
            </div>
        }
        else
        {
            @Html.Action(action, controller, new { tprocedencia = procedencia_value })
        }
    </div>
</div>